# database
SymPhotoAlbums.db

# Symfony directories
web/bundles/
app/bootstrap*
app/cache/*
app/logs/*
cache/
log/
vendor/

# Configuration files
/app/config/parameters.yml

#Composer
composer.phar

#symfttpd
symfttpd.phar

# PHPUnit special files
phpunit.xml
undercontrol.xml
clover.xml
clover.html

# Doctrine backup files
*.php~

# Cache
Tests/Fixtures/app/cache
Tests/Fixtures/app/logs
Tests/autoload.php

# Filesystem
.DS_Store

# IDES
.nbproject
.idea